{
  "presets": ["env"],
  "plugins": [
    ["babel-plugin-root-import", {
      "rootPathPrefix": "~",
      "rootPathSuffix": "lib"
    }],
    ["transform-object-rest-spread", {
      "useBuiltIns": true
    }],
    ["babel-plugin-transform-async-to-module-method", {
      "module": "bluebird",
      "method": "coroutine"
    }]
  ]
}
